body {
    text-align: center;
    background-color: #ffffff;
    color: rgb(22, 6, 6);
    transition: 0.3s;
    font-family: "UnifrakturCook", cursive;
    position: relative;
    box-sizing: border-box;
    margin: auto;
}

.name, .github {
    text-shadow: 0 0 5px white;
}

body.dark ::-webkit-scrollbar-track {
    background: #000;
}


.tooltip {
    position: relative;
    cursor: help;
}


.tooltip-text {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);

    min-width: 220px;
    padding: 8px 12px;

    background: #ffffff;
    color: #000000;

    border: 2px solid #c0a080;
    border-radius: 5px;

    font-size: 20px;
    text-align: center;

    transition: opacity 0.2s;
    z-index: 1000;
}


.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.break {
    padding-top: 20px;
    border-top: 4px solid #c0a080;
    box-shadow: 0 -2px 0 #a67c52,
                0 -4px 0 #795649;
}

.click_upgrades {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}


.sps_upgrades {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}

.other_upgrades {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

body.font_default {
    font-family: Arial, Helvetica, sans-serif
}


body.dark {
    background-color: #000000;
    color: bisque;
}

.points_info {
    font-size: 20px;
    margin-bottom: 0;
}

.points_info span {
    color: red;
}

.main_btn {
    position: sticky;
    top: 10px;
    z-index: 50;
    font-size: 20px;
    background-color: #4a2e14;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main_btn::before { 
    content: '⚔'; margin-right: 8px; font-size: 22px; opacity: 0.75; 
}


.main_btn::after  { 
    content: '⚔'; margin-left:  8px; font-size: 22px; opacity: 0.75; 
} 


button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    font-family: inherit;
    background-color: #795649;
    color: #f4e5c3;
    border: 2px solid #c0a080;
    text-shadow: 1px 1px 0px #a67c52;
    box-shadow: 2px 2px 0px #a67c52;
    transition: all 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: #8a6e2f;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

button:active {
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px); 
}

h1 {
    color: #747272;
}


.reset_btn {
    color: rgb(236, 115, 115);
}

.options {
    display: flex;
    position: sticky;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    background-color: #4a2e14;
    border-top: 4px solid #c0a080;
    box-shadow: 0 -2px 0 #a67c52,
                0 -4px 0 #795649;
}

.options h3, .options p {
    color: #f4e5c3;
}

.buttons {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.author_info {
    font-size: 20px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.author_info a {
    color: purple;
    text-decoration: none;
}


.floating-text {
    position: absolute;
    font-size: 35px;
    color: gold;
    font-weight: bold;
    pointer-events: none;
    animation: floatRandom 1s ease-out forwards;
    z-index: 9999;
}

.floating-text.crit {
    color: red !important;
    font-size: 48px;
}


.floating-text.anchor {
    color: skyblue !important;
    font-size: 48px;
}


@keyframes floatRandom {
    0% {
        opacity: 1;
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(calc(var(--driftX) * 0.3), -20px)
                   rotate(calc(var(--rotation) * 0.3));
    }
    50% {
        transform: translate(calc(var(--driftX) * 0.7), -45px)
                   rotate(calc(var(--rotation) * 0.7));
    }
    100% {
        opacity: 0;
        transform: translate(var(--driftX), -80px)
                   rotate(var(--rotation));
    }
}


body.dark .weapon-image {
    background-color: #747272;
}


.weapon-image {
    width: 86px;
    height: 86px;
    image-rendering: pixelated;
    border: 2px solid #c0a080;
    border-radius: 2px;
    box-shadow: 2px 2px 0px #a67c52;
    padding: 30px 20px;
    background-color: #a67c52;
}

.upgrade-block {
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    max-width: 220px; 
    min-width: 200px; 
}

.upgrade-block p {
    margin-bottom: 2px;
    margin-top: 5px;
}

.crit-block {
    padding: 10px 0;
}

.crit-block p {
    margin-bottom: 2px;
    margin-top: 5px;
}

.lock-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    z-index: 10;
    border-radius: 10px;
}


.modal-overlay {
    position: fixed; 
    inset: 0;
    background: rgba(56, 55, 55, 0.6);
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 9999;
}

.modal-box {
    background: #4a2e14;
    border: 2px solid gold;
    border-radius: 16px;
    padding: 30px 40px;
    text-align: center;
    color: white;
}

.modal-earned {
    font-size: 32px;
    font-weight: bold;
    color: gold;
    margin: 20px;
}

.modal-time { 
    color: #000000; 
    font-size: 17px; 
}

.modal-box button {
    margin-top: 20px;
    padding: 10px 20px;
    background: gold;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}