body {
    text-align: center;
    background-color: #ffffff;
    color: rgb(22, 6, 6);
    transition: 0.3s;
    font-family: "UnifrakturCook", cursive;
    position: relative;
    box-sizing: border-box;
    margin: auto;
}

.name, .github {
    text-shadow: 0 0 5px purple;
}

body.dark .name, body.dark .github {
    text-shadow: 0 0 5px white;
}

body.dark ::-webkit-scrollbar-track {
    background: #000;
}


.click_upgrades {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


.sps_upgrades {
    display: flex;
    justify-content: space-around;
}

body.font_default {
    font-family: Arial, Helvetica, sans-serif
}


body.dark {
    background-color: #000000;
    color: bisque;
}

.points_info {
    font-size: 20px;
    margin-bottom: 0;
}

.points_info span {
    color: red;
}

.main_btn {
    font-size: 20px;
    background-color: #4a2e14;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.main_btn::before { 
    content: '⚔'; margin-right: 8px; font-size: 22px; opacity: 0.75; 
}


.main_btn::after  { 
    content: '⚔'; margin-left:  8px; font-size: 22px; opacity: 0.75; 
} 


button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    font-family: inherit;
    background-color: #795649;
    color: #f4e5c3;
    border: 2px solid #c0a080;
    text-shadow: 1px 1px 0px #a67c52;
    box-shadow: 2px 2px 0px #a67c52;
    transition: all 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: #8a6e2f;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

button:active {
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px); 
}

h1 {
    color: #747272;
}


.reset_btn {
    color: red;
}

.options {
    display: flex;
    position: sticky;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    background-color: #4a2e14;
}

.buttons {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.author_info {
    font-size: 20px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.author_info a {
    color: purple;
    text-decoration: none;
}


.floating-text {
    position: absolute;
    font-size: 35px;
    color: gold;
    font-weight: bold;
    pointer-events: none;
    animation: floatUp 1s ease-out forwards;
    z-index: 9999; 
}

.floating-text.crit {
    color: red !important;
    font-size: 48px;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}


.weapon-image {
    width: 86px;
    height: 86px;
    image-rendering: pixelated;
    border: 2px solid #c0a080;
    border-radius: 2px;
    box-shadow: 2px 2px 0px #a67c52;
    padding: 30px 20px;
    background-color: #747272;
}

.upgrade-block {
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    max-width: 220px; 
    min-width: 200px; 
}

.crit-block {
    padding: 10px 0;
}

.lock-overlay {

    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    z-index: 10;
    border-radius: 10px;
}