{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Medieval Clicker - {{ player.points }}</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
    <link rel="icon" href="{% static 'game/favicon.ico' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Just click and relax</h1>

    <div class="main">
        Szekle: <span id="points">{{ player.points }}</span><BR>

        <button onclick="sendClick(event)">Kliknij mnie!</button> <BR>

        <b> Obecnie masz <span id="points_per_click">{{ player.points_per_click }}</span> ppc 🗡</b> <BR>
            w tym kryta: <span id="crit_chance">{{ player.crit_chance }}</span>% 🎲
            oraz moc kryta: x<span id="crit_multiplier">{{ player.crit_multiplier }}</span>🧨<BR>
        <B>Na sekunde: <span id="points_per_second">{{ player.points_per_second }}</span> sps 🕰</B>
    </div>


    <hr>


    <h3>Click upgrades</h3>
    <div class="upgrades">
        <div class="click_upgrades">
            <div class="click_fork_upgrade">
                <img src="{% static 'game/images/fork.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_level">{{ player.upgrade_level }}</span></p>
                <p>Widly (+1 do ppc 🗡)</p>

                <button onclick="buyUpgrade()"><span id="cost">{{ player.upgrade_cost }}</span> szekli</button>
            </div>

            <div class="click_wooden_sword_upgrade">
                <img src="{% static 'game/images/wooden_sword.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_wooden_sword_level">{{ player.upgrade_wooden_sword_level }}</span></p>
                <p>Drewniany miecz (+3 do ppc 🗡)</p>

                <button onclick="buyWoodenSwordUpgrade()"><span id="upgrade_wooden_sword_cost">{{ player.upgrade_wooden_sword_cost }}</span> szekli</button>
            </div>

            <div class="click_short_sword_upgrade">
                <img src="{% static 'game/images/short_sword.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_short_sword_level">{{ player.upgrade_short_sword_level }}</span></p>
                <p>Krotki miecz (+5 do ppc 🗡)</p>

                <button onclick="buyShortSwordUpgrade()"><span id="upgrade_short_sword_cost">{{ player.upgrade_short_sword_cost }}</span> szekli</button>
            </div>

            <div class="click_long_sword_upgrade">
                <img src="{% static 'game/images/long_sword.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_long_sword_level">{{ player.upgrade_long_sword_level }}</span></p>
                <p>Dlugi miecz (+10 do ppc 🗡)</p>

                <button onclick="buyLongSwordUpgrade()"><span id="upgrade_long_sword_cost">{{ player.upgrade_long_sword_cost }} </span> szekli</button>
            </div>

            <div class="click_slingshot_upgrade">
                <img src="{% static 'game/images/slingshot.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_slingshot_level">{{ player.upgrade_slingshot_level }}</span></p>
                <p>Proca (+25 do ppc 🗡)</p>

                <button onclick="buySlingshotUpgrade()"><span id="upgrade_slingshot_cost">{{ player.upgrade_slingshot_cost }} </span> szekli</button>
            </div>

            <div class="click_bow_upgrade">
                <img src="{% static 'game/images/bow.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_bow_level">{{ player.upgrade_bow_level }}</span></p>
                <p>Luk (+50 do ppc 🗡)</p>

                <button onclick="buyBowUpgrade()"><span id="upgrade_bow_cost">{{ player.upgrade_bow_cost }}</span> szekli</button>
            </div>

            <div class="click_crossbow_upgrade">
                <img src="{% static 'game/images/crossbow.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_crossbow_level">{{ player.upgrade_crossbow_level }}</span></p>
                <p>Kusza (+100 do ppc 🗡)</p>

                <button onclick="buyCrossbowUpgrade()"><span id="upgrade_crossbow_cost">{{ player.upgrade_crossbow_cost }} </span> szekli</button>
            </div>

            <div class="crit_upgrade">
                <img src="{% static 'game/images/dice.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_crit_chance_level">{{ player.upgrade_crit_chance_level }}</span></p>
                <p>Wiekszy kryt (+1% 🎲)</p>

                <button onclick="buyCritUpgrade()"><span id="crit_chance_upgrade_cost">{{ player.crit_chance_upgrade_cost }} </span> szekli</button>
            </div>


            <div class="multiplier_upgrade">
                <img src="{% static 'game/images/dinamite.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_crit_multiplier_level">{{ player.upgrade_crit_multiplier_level }}</span></p>
                <p>Mocniejszy kryt (+1x 🧨)</p>

                <button onclick="buyMultiplierUpgrade()"><span id="crit_multiplier_upgrade_cost">{{ player.crit_multiplier_upgrade_cost }} </span> szekli</button>
            </div>


        </div>

        <h3>Auto upgrades</h3>
        <div class="sps_upgrades">
            <div class="groom_upgrade">
                <img src="{% static 'game/images/groom.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_auto_level">{{ player.upgrade_auto_level }}</span></p>
                <p>Stajenny (+1 do sps 🕰)</p>

                <button onclick="buyAutoUpgrade()"><span id="auto_upgrade_cost">{{ player.auto_upgrade_cost }}</span> szekli</button>
            </div>


        </div>
    </div>


    <div class="options">
        <div class="buttons">  
            <h3>Opcje</h3>
            
            <button onclick="resetGame()" class="reset_btn">Resetuj progres</button>

            <button id="music_btn" onclick="toggleMusic()">Włącz muzykę</button>

            <button onclick="toggleMode()" class="toggle_btn" id="mode_btn"> Dark mode </button>

            <button onclick="toggleFont()" class="font_btn" id="font_btn"> Default font </button>
        </div>


        <div class="author_info">        
            <p class="name">Autor: © Florek Bartlomiej 2026</p>
            <p class="github">Github: <a href="https://github.com/florroo">klik</a></p>
        
        </div>
    </div>


    <audio id="bg_music" loop>
        <source src="{% static 'game/bg_music.mp3' %}" type="audio/mpeg">
    </audio>

    <audio id="upgrade_sound">
        <source src="{% static 'game/upgrade.mp3' %}" type="audio/mpeg">
    </audio>

    <audio id="crit_sound">
        <source src="{% static 'game/crit.mp3' %}" type="audio/mpeg">
    </audio>
    

    <script src="{% static 'game/script.js' %}"></script>
</body>
</html>


