{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Medieval Clicker - {{ player.points }}</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
    <link rel="icon" href="{% static 'game/favicon.ico' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Just click and relax</h1>

    <p class="points_info">Szekle: <span id="points">{{ player.points }}</span></p>
    <p class="points_info">Twój poziom: <span id="player_level">{{ player.player_level }}</span></p>

    <button onclick="sendClick(event)" class="main_btn">Kliknij mnie!</button>

    <div class="main">
        Obecnie masz <span id="points_per_click">{{ player.points_per_click }}</span> spc 
                <span class="tooltip">💥
                    <span class="tooltip-text">
                        Twoja moc uderzenia
                    </span>
                </span>
                <BR>

        w tym kryta: <span id="crit_chance">{{ player.crit_chance }}</span>% 
            <span class="tooltip">🎲
                <span class="tooltip-text">
                    Szansa na trafienie krytyczne.
                </span>
            </span>

        moc kryta: x<span id="crit_multiplier">{{ player.crit_multiplier }}</span>
            <span class="tooltip">🧨,
                <span class="tooltip-text">
                    Moc krytyka
                </span>
            </span>

        luck: <span id="luck">{{ player.luck }}</span>
            <span class="tooltip">🍀,
                <span class="tooltip-text">
                    Twoje szczescie
                </span>
            </span>

        offline: <span id="time_offline">{{ player.time_offline }}</span>h
            <span class="tooltip">🌙,
                <span class="tooltip-text">
                    Czas przez ktory bedziesz zbieral szekle
                </span>
            </span>

        mnoznik: <span id="shekel_multiplier">{{ player.shekel_multiplier }}</span>x
            <span class="tooltip">💲
                <span class="tooltip-text">
                    Mnoznik szekli ktore otrzymujesz 
                </span>
            </span>
        <BR>

        Na sekunde: <span id="points_per_second">{{ player.points_per_second }}</span> sps 
            <span class="tooltip">🕐
                <span class="tooltip-text">
                    Szekle na sekunde
                </span>
            </span>

        {% if offline_earned > 0 %}
            <div id="offline-modal" class="modal-overlay">
                <div class="modal-box">
                    <h2>💰 Witaj z powrotem!</h2>
                    <p>Podczas Twojej nieobecności zarobiłeś:</p>
                    <p class="modal-earned">{{ offline_earned }} szekli</p>
                    <p class="modal-time">(przez {{ offline_minutes }} minut)</p>
                    <button onclick="closeOfflineModal()">Odbierz!</button>
                </div>
            </div>
        {% endif %}
    </div>

    <h3 class="break">Click upgrades</h3>
    <div class="upgrades">
        <div class="click_upgrades">
            <div class="click_fork_upgrade upgrade-block" data-required-player-level="0">
                <img src="{% static 'game/images/fork.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_level">{{ player.upgrade_level }}</span></p>
                <p>Widly (+1 do spc 💥)</p>

                <button onclick="buyUpgrade()"><span id="cost">{{ player.upgrade_cost }}</span> szekli</button>
            </div>

            <div class="click_wooden_sword_upgrade upgrade-block" data-required-player-level="5">
                <img src="{% static 'game/images/wooden_sword.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_wooden_sword_level">{{ player.upgrade_wooden_sword_level }}</span></p>
                <p>Drewniany (+3 do spc 💥)</p>

                <button onclick="buyWoodenSwordUpgrade()"><span id="upgrade_wooden_sword_cost">{{ player.upgrade_wooden_sword_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="click_short_sword_upgrade upgrade-block" data-required-player-level="15">
                <img src="{% static 'game/images/short_sword.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_short_sword_level">{{ player.upgrade_short_sword_level }}</span></p>
                <p>Krotki miecz (+5 do spc 💥)</p>

                <button onclick="buyShortSwordUpgrade()"><span id="upgrade_short_sword_cost">{{ player.upgrade_short_sword_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="click_long_sword_upgrade upgrade-block" data-required-player-level="25">
                <img src="{% static 'game/images/long_sword.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_long_sword_level">{{ player.upgrade_long_sword_level }}</span></p>
                <p>Dlugi miecz (+10 do spc 💥)</p>

                <button onclick="buyLongSwordUpgrade()"><span id="upgrade_long_sword_cost">{{ player.upgrade_long_sword_cost }} </span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="click_slingshot_upgrade upgrade-block" data-required-player-level="30">
                <img src="{% static 'game/images/slingshot.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_slingshot_level">{{ player.upgrade_slingshot_level }}</span></p>
                <p>Proca (+25 do spc 💥)</p>

                <button onclick="buySlingshotUpgrade()"><span id="upgrade_slingshot_cost">{{ player.upgrade_slingshot_cost }} </span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="click_bow_upgrade upgrade-block" data-required-player-level="40">
                <img src="{% static 'game/images/bow.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_bow_level">{{ player.upgrade_bow_level }}</span></p>
                <p>Luk (+50 do spc 💥)</p>

                <button onclick="buyBowUpgrade()"><span id="upgrade_bow_cost">{{ player.upgrade_bow_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="click_crossbow_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/crossbow.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_crossbow_level">{{ player.upgrade_crossbow_level }}</span></p>
                <p>Kusza (+100 do spc 💥)</p>

                <button onclick="buyCrossbowUpgrade()"><span id="upgrade_crossbow_cost">{{ player.upgrade_crossbow_cost }} </span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="click_spear_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/spear.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_spear_level">{{ player.upgrade_spear_level }}</span></p>
                <p>Kusza (+200 do spc 💥)</p>

                <button onclick="buySpearUpgrade()"><span id="upgrade_spear_cost">{{ player.upgrade_spear_cost }} </span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="click_shield_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/shield.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_shield_level">{{ player.upgrade_shield_level }}</span></p>
                <p>Kusza (+500 do spc 💥)</p>

                <button onclick="buyShieldUpgrade()"><span id="upgrade_shield_cost">{{ player.upgrade_shield_cost }} </span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

                <div class="click_warhammer_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/warhammer.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_warhammer_level">{{ player.upgrade_warhammer_level }}</span></p>
                <p>Kusza (+1000 do spc 💥)</p>

                <button onclick="buyWarhammerUpgrade()"><span id="upgrade_warhammer_cost">{{ player.upgrade_warhammer_cost }} </span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

        </div>

        <h3>Auto upgrades</h3>
        <div class="sps_upgrades">
            <div class="peasant_upgrade upgrade-block" data-required-player-level="0">
                <img src="{% static 'game/images/peasant.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_auto_level">{{ player.upgrade_auto_level }}</span></p>
                <p>Chlop (+1 do sps 🕐)</p>

                <button onclick="buyAutoUpgrade()"><span id="auto_upgrade_cost">{{ player.auto_upgrade_cost }}</span> szekli</button>
            </div>

            <div class="drunk_upgrade upgrade-block" data-required-player-level="10">
                <img src="{% static 'game/images/drunk.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_drunk_level">{{ player.upgrade_drunk_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyDrunkUpgrade()"><span id="upgrade_drunk_cost">{{ player.upgrade_drunk_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="maid_upgrade upgrade-block" data-required-player-level="20">
                <img src="{% static 'game/images/maid.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_maid_level">{{ player.upgrade_maid_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyMaidUpgrade()"><span id="upgrade_maid_cost">{{ player.upgrade_maid_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>


            <div class="groom_upgrade upgrade-block" data-required-player-level="30">
                <img src="{% static 'game/images/groom.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_groom_level">{{ player.upgrade_groom_level }}</span></p>
                <p>Stajenny (+5 do sps 🕐)</p>

                <button onclick="buyGroomUpgrade()"><span id="upgrade_groom_cost">{{ player.upgrade_groom_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="jester_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/jester.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_jester_level">{{ player.upgrade_jester_level }}</span></p>
                <p>Stajenny (+5 do sps 🕐)</p>

                <button onclick="buyJesterUpgrade()"><span id="upgrade_jester_cost">{{ player.upgrade_jester_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="priest_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/priest.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_priest_level">{{ player.upgrade_priest_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyPriestUpgrade()"><span id="upgrade_priest_cost">{{ player.upgrade_priest_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="archer_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/archer.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_archer_level">{{ player.upgrade_archer_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyArcherUpgrade()"><span id="upgrade_archer_cost">{{ player.upgrade_archer_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>


            <div class="knight_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/knight.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_knight_level">{{ player.upgrade_knight_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyKnightUpgrade()"><span id="upgrade_knight_cost">{{ player.upgrade_knight_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="cavalry_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/cavalry.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_cavalry_level">{{ player.upgrade_cavalry_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyCavalryUpgrade()"><span id="upgrade_cavalry_cost">{{ player.upgrade_cavalry_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="architect_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/architect.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_architect_level">{{ player.upgrade_architect_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyArchitectUpgrade()"><span id="upgrade_architect_cost">{{ player.upgrade_architect_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="baron_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/baron.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_baron_level">{{ player.upgrade_baron_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyBaronUpgrade()"><span id="upgrade_baron_cost">{{ player.upgrade_baron_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            <div class="king_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/king.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_king_level">{{ player.upgrade_king_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyKingUpgrade()"><span id="upgrade_king_cost">{{ player.upgrade_king_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>

            
            <div class="pope_upgrade upgrade-block" data-required-player-level="50">
                <img src="{% static 'game/images/pope.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_pope_level">{{ player.upgrade_pope_level }}</span></p>
                <p>Sluzaca (+5 do sps 🕐)</p>

                <button onclick="buyPopeUpgrade()"><span id="upgrade_pope_cost">{{ player.upgrade_pope_cost }}</span> szekli</button>

                <div class="lock-overlay">🔒 Wymagany poziom&nbsp;<span class="required-level-text"></span></div>
            </div>
        </div>

        <h3>Other upgrades</h3>
        <div class="other_upgrades">
            <div class="crit_upgrade crit-block">
                <img src="{% static 'game/images/dice.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_crit_chance_level">{{ player.upgrade_crit_chance_level }}</span></p>
                <p>Wiekszy kryt (+1% 🎲)</p>

                <button onclick="buyCritUpgrade()"><span id="crit_chance_upgrade_cost">{{ player.crit_chance_upgrade_cost }} </span> szekli</button>
            </div>


            <div class="multiplier_upgrade crit-block">
                <img src="{% static 'game/images/dinamite.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_crit_multiplier_level">{{ player.upgrade_crit_multiplier_level }}</span></p>
                <p>Mocniejszy kryt (+1x 🧨)</p>

                <button onclick="buyMultiplierUpgrade()"><span id="crit_multiplier_upgrade_cost">{{ player.crit_multiplier_upgrade_cost }} </span> szekli</button>
            </div>

            <div class="luck_upgrade crit-block">
                <img src="{% static 'game/images/luck.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_luck_level">{{ player.upgrade_luck_level }}</span></p>
                <p>Wiekszy luck (+1 🍀)</p>

                <button onclick="buyLuckUpgrade()"><span id="upgrade_luck_cost">{{ player.upgrade_luck_cost }} </span> szekli</button>
            </div>

            <div class="time_offline_upgrade crit-block">
                <img src="{% static 'game/images/offline.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_time_offline_level">{{ player.upgrade_time_offline_level }}</span></p>
                <p>Wiekszy czas (+1 🌙)</p>

                <button onclick="buyTimeOfflineUpgrade()"><span id="upgrade_time_offline_cost">{{ player.upgrade_time_offline_cost }} </span> szekli</button>
            </div>

            <div class="shekel_multiplier_upgrade crit-block">
                <img src="{% static 'game/images/shekel_multiplier.png' %}" class="weapon-image">

                <p>Obecny poziom: <span id="upgrade_shekel_multiplier_level">{{ player.upgrade_shekel_multiplier_level }}</span></p>
                <p>Wiekszy mnoznik (+0.1x 💲)</p>

                <button onclick="buyShekelMultiplierUpgrade()"><span id="upgrade_shekel_multiplier_cost">{{ player.upgrade_shekel_multiplier_cost }} </span> szekli</button>
            </div>
        </div>
    </div>


    <div class="options">
        <div class="buttons">  
            <h3>Opcje</h3>
            
            <button onclick="resetGame()" class="reset_btn">Resetuj progres</button>

            <button id="music_btn" onclick="toggleMusic()">Włącz muzykę</button>

            <button onclick="toggleMode()" class="toggle_btn" id="mode_btn"> Dark mode </button>

            <button onclick="toggleFont()" class="font_btn" id="font_btn"> Default font </button>
        </div>


        <div class="author_info">        
            <p class="name">Autor: © Florek Bartlomiej 2026</p>
            <p class="github">Github: <a href="https://github.com/florroo">klik</a></p>
        
        </div>
    </div>

    <audio id="bg_music" loop>
        <source src="{% static 'game/bg_music.mp3' %}" type="audio/mpeg">
    </audio>

    <audio id="upgrade_sound">
        <source src="{% static 'game/upgrade.mp3' %}" type="audio/mpeg">
    </audio>

    <audio id="crit_sound">
        <source src="{% static 'game/crit.mp3' %}" type="audio/mpeg">
    </audio>
    

    <script src="{% static 'game/script.js' %}"></script>
</body>
</html>


